/.idea/
.project
.pydevproject
.installed.cfg
*.sqlite
*.pyc
*.pyo
*.egg-info
*.egg
/eggs/
/bin/
/nginx/
/scheduler/
/develop-eggs/
/parts/
/static/
/logs/
settings_local.py
/media/
.DS_Store
*.swp
*.sh~
/build/
/dist/
coverage.xml
pep8.txt
.coverage
