*.egg
*.pyc
*.pyo
*.sh~
*.sqlite
*.swp
*.egg-info
.coverage
.DS_Store
.project
.pydevproject
.installed.cfg
/.idea/
/bin/
/build/
/dist/
/eggs/
/develop-eggs/
/logs/
/media/
/nginx/
/parts/
/scheduler/
/static/
/venv/
coverage.xml
pep8.txt
settings_local.py

