beautifulsoup4==4.4.1
coverage==4.0.1
Django==1.8.5
M2Crypto==0.22.3
mock==1.0.1
pep8==1.6.2
six==1.7.3
wsgiref==0.1.2

https://github.com/Awingu/django-setuptest/archive/0.1.6-awingu.tar.gz#egg=0.1.6-awingu
